= f.error_messages
%p
  = f.label :student
  = autocomplete_field_tag :student, '', autocomplete_user_first_name_students_path, :id_element => '#user_id'
  = f.hidden_field :user_id, :id => :user_id
%p
  = f.label :start_time
  = f.datetime_select :start_time, :minute_step => 20
%p
  = f.label :end_time
  = f.datetime_select :end_time, :minute_step => 20
%p
  = f.submit
