= f.error_messages
%p
  = f.label :key
  = f.text_field :key

%p
  = f.label :title
  = f.text_field :title

%p
  = f.label :sub_title
  = f.text_field :sub_title

%p
  = f.label :body
  = f.text_area :body

%p
  = f.label :meta_keywords
  = f.text_area :meta_keywords

%p
  = f.label :meta_description
  = f.text_area :meta_description

%p= f.submit