= f.error_messages   
%p
  = f.label :first_name 
  = f.text_field :first_name 

%p
  = f.label :last_name 
  = f.text_field :last_name 

%p
  = f.label :email
  = f.text_field :email

- f.fields_for :phone_numbers do |phone|
  %p.phone_number
    = phone.select :kind, ['Mobil', 'Home', 'Work', 'Mother', 'Father', 'Other']
    = phone.text_field :number 
    - unless phone.object.new_record?
      = phone.check_box '_destroy'
      = phone.label '_delete', 'Remove'

%p.check_box 
  = f.check_box :admin   
  = f.label :admin 

%p.check_box
  = f.check_box :editor  
  = f.label :editor 

%p.submit
  = f.submit 

