- form_for @student, :url => students_path, :method => :post do |f|
  = f.error_messages   
  %p
    = f.label :first_name 
    = f.text_field :first_name 
  
  %p
    = f.label :last_name 
    = f.text_field :last_name 
  
  %p
    = f.label :email
    = f.text_field :email

  %p
    = f.label :state
    = f.select :state_transition, [@student.state, 'On maintenance', 'Suspended', 'Excommunicated']
    
  %p.checkbox 
    = f.check_box :admin   
    = f.label :admin 
  
  %p.checkbox
    = f.check_box :editor  
    = f.label :editor 
  
  %p.submit
    = f.submit 
