<%= semantic_form_for @student, :url => student_path, :html => {:method => :put} do |f| %>
  <%= f.inputs do %>
    <%= f.input :first_name, :label => 'First Name' %>
    <%= f.input :last_name, :label => 'Last Name' %>
    <%= f.input :email %>
  <% end %>
  <%= f.semantic_fields_for :phone_numbers do |p| %>
		<%= render '/admin/students/phone_number_fields', :builder => p, :edit => true %>
  <% end %>
  <div><%= link_to_add_fields "Add another phone number", f, :phone_numbers, '/admin/students/', :id => 'addField' %></div>
  <%= f.buttons do %>
    <%= f.commit_button 'Submit' %>
  <% end %>
<% end %>