- title "Students"

%table
  %tr
    %th Name
    %th Email
    %th Phone Numbers    
    %th Admin
    %th Editor
    %th State

  - for student in @students
    %tr{:class => cycle('even','odd')}
      %td= link_to student.full_name, student_path(student)
      %td= mail_to student.email, student.email
      %td
        %ul.phone_numbers
          - student.phone_numbers.each do |number|
            %li
              = number.formatted_number
          
      %td= is? student.admin
      %td= is? student.editor
      %td= student.display_state
      - if student.promotable?
        %td
          = button_to "Promote", 
            transition_student_path(student, :transtion_to => :promote), 
            :confirm => "Promote student?"
            
      - if student.demotable?
        %td
          = button_to "Demote", 
            transition_student_path(student, :transtion_to => :demote), 
            :confirm => "Demote student?"
            
      %td= link_to "Edit", edit_student_path(student)

%p= link_to "New Student", new_student_path
