<%= builder.inputs do %>
<div class="phone_number">
  <%= builder.input :user_id, :as => :hidden %>
  <%= builder.input :kind, :collection => ['Mobile', 'Home', 'Work', 'Mother', 'Father', 'Other'], :include_blank => false %>
  <%= builder.input :number %>
  <% if defined? edit && edit %>
    <li><%= link_to_remove_fields "remove", builder, "Are you sure you want to remove this phone number?" %></li>
  <% else %>
    <li><%= link_to "clear", "#", :class => 'clear_link' %></li>
  <% end %>
</div>
<% end %>

<script>
  $(document).ready(function() {
  	$("a.clear_link").click(function(){
  		$(this).parent().prev().find('input').val('');
  	});
  });
</script>