<table>
	<tr>
		<th>Name</th>
		<th>Email</th>
		<th>Phone Numbers</th>
		<th>Admin</th>
		<th>Editor</th>
		<th>Type</th>
		<th></th>
		<th></th>
	</tr>
	<% if @students.empty? %>
		<tr><td colspan="4">There are currently no students</td></tr>
	<% end %>
	
	<% @students.each do |student| %>
	<tr>
		<td style="vertical-align: top"><%= link_to student.reverse_name, admin_student_path(student) %></td>
		<td style="vertical-align: top"><%= mail_to student.email %></td>
		<td style="vertical-align: top"><%= student.phone_numbers.map(&:formatted_number).join('<br />').html_safe %></td>
		<td style="vertical-align: top"><%= student.admin %></td>
		<td style="vertical-align: top"><%= student.editor %></td>
		<td style="vertical-align: top">
		  <%= form_tag do -%>
		    <%= hidden_field_tag 'student_id', student.id %>
		    <%= select_tag '#', options_for_select(User.states, student.state), :class => 'state_select_dropdown', :id => "state_select_dropdown_#{student.id}" %>
		  <% end -%>
		</td>
		<td style="vertical-align: top"><%= link_to 'Edit', edit_admin_student_path(student) %></td>
		<td style="vertical-align: top"><%= link_to 'Remove', admin_student_path(student), :method => :delete, :confirm => "Are you sure?" %></td>
	</tr>
	<% end %>
</table>

<%= will_paginate @students %>

<%= render 'navigation' %>