<p><%= @student.full_name %></p>
<p><%= @student.email %></p>
<p><%= @student.phone_numbers.map(&:formatted_number).join('<br >').html_safe %></p>
<p>Admin: <%= @student.admin %></p>
<p>Editor: <%= @student.editor %></p>
<p>
  Type: 
  <%= form_tag do -%>
    <%= hidden_field_tag 'student_id', @student.id %>
    <%= select_tag '#', options_for_select(User.states, @student.state), :class => 'state_select_dropdown', :id => "state_select_dropdown_#{@student.id}" %>
  <% end -%>
</p>

<%= render 'navigation' %>