#calendar
#event_edit_container
  - form_for @private_lesson do |f|
    %input{:type => "hidden"}
    %ul
      %li
        %span Date:
        %span.date_holder

      %li
        = f.label :start, 'Start Time:'
        %select.start_time{:name => "private_lesson[start_time]"}
          %option{:value => ""} Select Start Time

        = f.hidden_field :end_time

      %li
        = f.label :student
        = autocomplete_field_tag :student, '', autocomplete_user_first_name_students_path, :id_element => '#user_id'
        = f.hidden_field :user_id, :id => :user_id

%script.error_message_tpl{:type => 'text/html'}
  #error_messages
    %ul
      {{#errors}}
      %li {{i}}
      {{/errors}}
      