#calendar

%script#private_lesson_modal_form{:type => "text/html"}
  #basic-modal-content
    %h2 New Lesson {{start_time}} to {{end_time}}
    - form_for PrivateLesson.new do |f|
      = f.error_messages
      %p
        = f.label :student
        = autocomplete_field_tag :student, '', autocomplete_user_first_name_students_path, :id_element => '#user_id'
        = f.hidden_field :user_id, :id => :user_id
    
        = f.hidden_field :start_time, :value => '{{start_time}}'
        = f.hidden_field :end_time, :value => '{{end_time}}'

      %p
        = f.submit
