<table>
	<tr>
		<th>Label</th>
		<th>Access By Student Type</th>
		<th>Access By Individual Student</th>
		<th></th>
		<th></th>
	</tr>
	<% if @uploads.empty? %>
		<tr><td colspan="4">There are currently no uploads</td></tr>
	<% end %>
	
	<% @uploads.each do |upload| %>
	<tr>
		<td><%= link_to upload.label, admin_upload_path(upload) %></td>
		<td><%= upload.access.join(', ') %></td>
		<td><%= upload.users.map(&:full_name).join(', ') %></td>
		<td><%= link_to 'Edit', edit_admin_upload_path(upload) %></td>
		<td><%= link_to 'Remove', admin_upload_path(upload), :method => :delete, :confirm => "Are you sure?" %>
	</tr>
	<% end %>
</table>

<%= render 'navigation' %>