!!!
%html
  %head
    %link{ :rel => "shortcut icon", :href => "/favicon.ico", :type => "image/x-icon"}
    %title= head_title
    %meta{:name => :description, :content => meta_description}
    %meta{:name => :keywords, :content => meta_keywords}
    = include_javascripts :common
    = stylesheet_link_tag 'screen.css', :media => 'screen, projection'
    = stylesheet_link_tag 'print.css', :media => 'print'
    /[if lt IE 8]
      = stylesheet_link_tag 'ie.css', :media => 'screen, projection'

    = csrf_meta_tag

%body#bel_canto.bp.two-col

  #container

    #header
      #site_name The Art of Bel Canto
      %p.tag_line "Every breath is a new song."

    #sidebar
      = render 'shared/nav_main'

    #content
      %h1= page_title
      - if page_sub_title
        %p.sub_title= page_sub_title

      %div#flash
        = render 'shared/flashes'
        
      = @cms_page.try(:body)

      = yield

    .push

  #footer
    2010 | Contact
