!!!
%html
  %head
    %link{ :rel => "shortcut icon", :href => "/favicon.ico", :type => "image/x-icon"}
    %title= head_title    
    %meta{:name => :description, :content => meta_description}
    %meta{:name => :keywords, :content => meta_keywords}    
    = include_javascripts :common
    = stylesheet_link_tag 'screen.css', :media => 'screen, projection'
    = stylesheet_link_tag 'print.css', :media => 'print'
    /[if lt IE 8]
      = stylesheet_link_tag 'ie.css', :media => 'screen, projection'

    = csrf_meta_tag

%body#bel_canto.bp.two-col

  #container

    #header
      #site_name The Art of Bel Canto

    #sidebar
      %ul
        %li
          %a{:href => students_path} Students
        %li
          %a{:href => schedule_path} Schedule
        %li
          %a{:href => private_lessons_path} Lesson Times
        %li
          %a{:href => files_path} Files

        - if current_user && current_user.admin?
          %li
            %a{:href => admin_path} Admin

        - if current_user && (current_user.admin? || current_user.editor?)
          %li
            %a{:href => cms_pages_path} Manage CMS Pages
					

    #content
      %h1= @cms_page.title
      %p.sub_title= @cms_page.sub_title

      %div#flash
        = render 'shared/flashes'
        
      = @cms_page.body
      
      = yield

    .push

  #footer
    2010 | Contact
